# Google C++ Style Guide compliant formatting
---
Language: Cpp
BasedOnStyle: Google
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
IndentCaseLabels: true
IndentPPDirectives: AfterHash

# Line breaks
ColumnLimit: 100
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Pointer and reference alignment
DerivePointerAlignment: false
PointerAlignment: Left

# Include sorting
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"physim/'
    Priority:        1
  - Regex:           '^<Eigen/'
    Priority:        2
  - Regex:           '^<boost/'
    Priority:        3
  - Regex:           '^<spdlog/'
    Priority:        4
  - Regex:           '^<fmt/'
    Priority:        5
  - Regex:           '^<(GLFW|glad|imgui)/'
    Priority:        6
  - Regex:           '^<[^/]+\.h>'
    Priority:        7
  - Regex:           '^<.*'
    Priority:        8

# Other
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
